{% extends 'base.html.twig' %}

{% block main %}
    <header>
        <h2>Hello, {{ user.fullName }}!</h2>
    </header>
    <p>
        Your email address is <b>{{ user.email }}</b>
    </p>

{% endblock %}

{% block body_id %}

{% endblock %}

